{% extends 'base.html.twig' %}

{% block title %}Editer le Genre{% endblock %}

{% block body %}
    <h1>Modification du Genre {{ genre.nom }}</h1>

    {{ include('genre/_form.html.twig', {'button_label': 'Modifier'}) }}

    <p>Supprimer le genre (seulement si aucun livre appartient à ce genre)  </p>
    {{ include('genre/_delete_form.html.twig') }}
    <a href="{{ path('genre_index') }}">Retour à la liste</a>

{% endblock %}
